div {
    width: 100vw;

    ::ng-deep p {
        color: red;

    }

    ::ng-deep table {
        width: 60vw;
        display: block;
        border-collapse: collapse;
        overflow-x: auto;
        overflow-y: hidden;
        padding: 10px;
    }

    ::ng-deep th,
    ::ng-deep td {
        padding: 12px;
        border: 1px solid #dddddd;
        text-align: left;
    }

    ::ng-deep th {
        background-color: #f2f2f2;
        color: #333;
        font-weight: bold;
    }

    ::ng-deep tr:nth-child(even) {
        background-color: #f9f9f9;
    }
}